.card-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.member-card{
    background-color: rgb(240, 224, 214);
    padding: 20px;
    margin: 10px;
}

.member-detail{
    display: flex;
    align-items: center;
}

.detail-text{
    text-align: left;
}

