/* top nav */
.search_input{
    border: 1px solid var(--orange);
    transition: all .3s ease-in-out;
}

.search_input:hover{
    border: 1px solid #17d74a;
}

.search_btn{
    background: var(--orange);
    color: #fff;
    border: none;
    transition: all .3s ease-in-out;
}

.search_btn:hover{
    background: #17d74a;
}

/* dropdown-menu */
#collasible-nav-dropdown{
    padding-left: 0;
    color: #000;
    margin-right: 90px;
    font-weight: 600;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: 8px;
    padding: 0;
    border: none;
    border-radius: 0;
    background: #fef5ef;
}
.dropdown-item{
    transition: all .3s ease-in-out;
    padding-left: 30px;
}
.dropdown-item:hover{
    background: #17d74a;
    color: #fff;
    padding-left: 50px;
}

/* main middle nav */
.main_nav .nav-link{
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.nav-link{
    transition: all .3s ease-in-out;
}
.nav-link:hover{
    color: var(--orange) !important;
}

/* right nav icon */
.nav_icon{
    font-size: 22px;
    color: #000 !important;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
}

.nav_icon:hover{
    font-size: 22px;
    color: var(--orange) !important;
}

.nav_icon span{
    font-size: 11px;
    color: #fff;
    background: var(--orange) !important;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: -7px;
    margin-top: -8px;
    line-height: 1.1;
    transition: all .3s ease-in-out;
}

.nav_icon:hover span{
    background: #17d74a !important;
}

/* user_profile */
.user_profile{
    position: relative;
}

.user_profile ul{
    position: absolute;
    background: #ebebeb;
    margin: 0;
    padding: 15px;
    width: 160px;
    top: 60px;
    right: -70px;
    z-index: 99;
}
.user_profile .btn_regular{
    padding: 5px 20px !important;
}

.user_profile ul li{
    list-style: none;
}
.user_profile .nav-link{
    padding: 5px 20px !important;
}

#user_box #collasible-nav-dropdown {
    font-size: 25px !important;
    margin-right: 0 !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding-top: 0px;
    padding-left: 5px;
}

#user_box .dropdown-toggle::after{
    display: none;
}

#user_box .dropdown-item:hover {
    background: transparent !important;
    color: #000;
    padding-left: 0;
}

#user_box .dropdown-menu[data-bs-popper]{
    top: 59px;
    left: -60px;
    padding: 10px;
    border-top: 5px solid var(--red);
    
}

#user_box .dropdown-item{
    text-align: center;
    padding: 5px 0;
}